<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <div class='container' style="display: flex; justify-content: center">
            <h1 style:'justify-content:center;' >Are you sure you want to delete the following course?</h1>
        </div>
        <br>
        <div class='container' style="display: flex; justify-content: center">
            <table style='border: none;'>
                <tbody>
                    <tr>
                        <td style='font-size: 20px; font-weight: bold;'>Name:</td>
                        <td>{{course.name}}</td>
                    </tr>
                    <tr style="margin-top: 10px;">
                        <td style='font-size: 20px; font-weight: bold;'>Description:</td>
                        <td>{{course.descrip}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div class='container' style="display: flex; justify-content: center">
            <form action='/' method='post'>
                {%csrf_token%}
                <button style='margin-right:5px;' type="submit" class="btn btn-secondary">No</button>
            </form>
            <form action='/{{course.id}}/destroy' method='post'>
                {%csrf_token%}
                <button type="submit" class="btn btn-danger">Yes! I want to delete this.</button>
            </form>
        </div>
    </div>
</body>
</html>