<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
</head>
<body>
    <div class='container'>
        <h1>Registration</h1>
        {% if messages %}
            {% for message in messages %}
                <p style="color:red">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <div class='container'>
            <form action='/register' method='post'>
                {%csrf_token%}
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <td style=>First Name:</td>
                            <td><input name='first_name' type="text" class="form-control" placeholder="First Name"></td>
                        </tr>
                        <tr>
                            <td>Last Name:</td>
                            <td><input name='last_name' type="text" class="form-control" placeholder="Last Name"></td>
                        </tr>
                        <tr>
                            <td>Email Address:</td>
                            <td><input name='email' type="text" class="form-control" placeholder="Email Address"></td>
                        </tr>
                        <tr>
                            <td>Password:</td>
                            <td><input name='password' type="password" class="form-control"></td>
                        </tr>
                        <tr>
                            <td>Confirm Password:</td>
                            <td><input name='confirm' type="password" class="form-control"></td>
                        </tr>
                    </tbody>
                </table>
                <button type="submit" class="btn btn-danger">Register</button>
            </form>
            <br>
            <br>
        </div>
        <h1>Log In</h1>
        <div class='container'>
                <form action='/login' method='post'>
                    {%csrf_token%}
                    <table class="table table-borderless">
                        <tbody>
                                <td>Email Address:</td>
                                <td><input name='email' type="text" class="form-control" placeholder="Email Address"></td>
                            </tr>
                            <tr>
                                <td>Password:</td>
                                <td><input name='password' type="password" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-success">Log In</button>
                </form>
            </div>
    </div>
</body>
</html>